* {
    box-sizing: border-box;
}

:root {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
}

body {
    margin: 0; padding: 0;
    color: black;
    background-color: white;
}

.page {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 1000px)
{
    .page {
        margin-left: 15rem;
        padding: 2rem 10vw;
    }
}

@media only screen and (max-width: 1000px)
{
    .page {
        margin-left: 15rem;
        padding: 2rem 5vw;
        font-size: 15px;
    }
}
@media only screen and (max-width: 600px)
{
    .page {
        font-size: 14px;
        margin-left: 0;
        margin-bottom: 3rem;
        padding: 2rem;
    }
}
@media only screen and (max-width: 300px)
{
    :root {
        font-size: 12px;
    }
}




.content > div {
    margin-bottom: 4rem;
}


.content > p, .content li {
    text-align: justify;
    line-height: 1.5rem;
    letter-spacing: 0.15rem;
    word-spacing: 0.3rem;
}

.content > p {
    margin: 0 0 1rem 0;
}

.content a {
    text-decoration: none;
    color: rgb(68, 185, 221);
}

.content a:hover {
    color: rgb(0, 80, 104);
    border-bottom: solid 1px rgb(0, 80, 104);
}

.content img {
    width: 100%;
    height: auto;
}

.content img + p {
    color: rgb(107, 107, 107);
    text-align: center;
    font-size: 0.75rem;
    margin: 0;
}



.footer {
    text-align: center;
    color: rgb(214, 214, 214);
    font-size: 0.85rem;
    width: inherit;
    margin: auto 0 0 0 !important; /* TODO  fix !important */
}