* {
    box-sizing: border-box;
}

:root {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
}

body {
    margin: 0; padding: 0;

    color: black;
    background-color: white;
}



@media only screen and (min-width: 600px)
{
    .page {
        margin-left: 15rem;
        padding: 2rem 10vw;
    }
}
@media only screen and (max-width: 600px)
{
    .page {
        margin-left: 0;
        margin-bottom: 3rem;
        padding: 2rem;
    }
}


p {
    margin-bottom: 3rem;
}

.content > div{
    margin-bottom: 4rem;
}


.profile p {
    text-align: justify;
    line-height: 1.5rem;
    letter-spacing: 0.15rem;
    word-spacing: 0.3rem;

    margin: 0 0 1rem;
}

.profile p a {
    text-decoration: none;
    color: rgb(68, 185, 221);
}

.content p a:hover {
    color: rgb(0, 80, 104);
}

.profile img {
    width: 100%;
    height: auto;
}

.profile img + p {
    color: rgb(107, 107, 107);
    text-align: center;
    font-size: 0.75rem;
    margin: 0;
}