/* Container for ONE company */
.company {
    /* Children Layout */
    display: grid;
    grid-template-columns: 5px 1fr 1fr 5px;
    grid-template-rows: repeat(4, auto) 5px;
    grid-gap: 20px 30px;
    grid-template-areas: 
    "title title title title"
    "logo logo logo logo"
    ". does culture ."
    ". technologies technologies ."
    ". roles roles .";
    
    /* Font styling */
    font-family: 'Roboto Mono';
    font-size: 14px;
    letter-spacing: normal !important;
    line-height: normal !important;
}


.company__logo {
    grid-area: logo;

    width: 100%;
}
.company__title {
    margin: 0;
    grid-area: title;
    /* It is better with just the logo */
    display: none;

    text-align: right;
}
.company__section--does {
    grid-area: does;
}
.company__section--culture {
    grid-area: culture;
}
.company__section--technologies {
    grid-area: technologies;
}

.company__section {
    text-align: justify;
}

.company__section__title {
    margin: 0;
}
.company__section__technologies {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.company__section__technologies a {
    margin: 1rem;   
}
.company__section__technologies img {
    max-width: 5rem;
    max-height: 5rem;
    width: auto;
    height: auto;

    transition: all 50ms linear;
    
}
.company__section__technologies .img-larger img {
    max-width: 9rem;
    max-height: 9rem;
    width: auto;
    height: auto;
}

.company__section__technologies span {
    color: black;
    display: inline-block;
    font-size: 2rem;

    transition: all 50ms linear;
}

.company__section__technologies img:hover,  
.company__section__technologies span:hover {
    transform: scale(1.1);
}


a.citation, .link-what {
    text-decoration: none;
    color: rgb(83, 171, 226);
    
    font-weight: normal;
}

.link-what {
    font-weight: 600;
    color: rgb(35, 93, 129);
}

a.citation:hover, .link-what:hover {
    text-decoration: underline;
    color: rgb(108, 174, 213);
}


span.citation {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    color: rgb(56, 56, 56);
  }

  
  
  span.citation .citation__text {
    visibility: hidden;
    width: 100%;
    background-color: rgb(157, 204, 216);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px 0;
    border-radius: 1px;
    font-weight: 500;

    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
   
    
    position: absolute;
    z-index: 1;

    
    bottom: 100%;
    left: 50%;
    margin-left: -50%;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  span.citation:hover .citation__text {
    visibility: visible;
  }





/********************/
/*** COMPANY ROLES ***/
/********************/

/* Section for roles. All roles + Title + (optional) some text */
.company__section--roles {
    grid-area: roles;
}
/* Container for all roles */
.company__section__roles {
    display: flex;
    flex-wrap: wrap-reverse;
}

/* One role, with grid layout*/
.company-role {
    display: grid;
    grid-template-columns: 3rem auto;
    grid-template-rows: min-content auto;
    grid-template-areas: 
    "abbreviation title"
    ". description";
    gap: 1rem 1rem;

    padding: 2rem;
}

/* Role title. Like "Software Engineer" */
.company-role__title {
    grid-area: title;

    margin: 0;
    font-size: 1.2rem;
    text-align: left;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Role abbrebiation. Like "SWE" */
.company-role__abbreviation {
    grid-area: abbreviation;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    font-size: 1rem;
    font-weight: bold;
    font-family: monospace;

    color: rgb(187, 187, 187);

}

/* Role desciprtion */
.company-role__description {
    margin: 0;
    grid-area: description;
}

/* hover */
.company-role {
    transition: background-color 100ms linear;
}
.company-role:hover {
    background-color: rgb(255, 255, 255);
}

/* Responsive */
@media only screen and (max-width: 1200px) {
    .company-role {
        width: 100%;
        margin-bottom: 1px;
        box-shadow: 0 2rem 0 calc(-2rem + 1px) rgb(226, 226, 226);
    }
    .company-role:first-child {
        box-shadow: none;
    }
    
}
@media only screen and (min-width: 1200px) {
    .company-role {
        width: 50%;
    }
    .company-role:nth-child(odd) {
        margin-right: 1px;
        width: calc(49% - 1px);
        box-shadow: 2rem 0 0 calc(-2rem + 1px) rgb(226, 226, 226);
    }
    .company-role:last-child:nth-child(odd) {
        width: 100%;
        box-shadow: 0 2rem 0 calc(-2rem + 1px) rgb(226, 226, 226);
        margin: 0px auto 0px;
    }
    .company-role:first-child:last-child {
        box-shadow: none;
    }
}
