/* Container for ONE company */
.company {
    /* Children Layout */
    display: grid;
    grid-template-columns: 5px 1fr 1fr 5px;
    grid-template-rows: repeat(5, auto) 5px;
    grid-gap: 20px 30px;
    grid-template-areas: 
    "title title title title"
    "logo logo logo logo"
    ". does culture ."
    ". technologies technologies ."
    ". roles roles .";
    

    /* Font styling */
    font-family: 'Roboto Mono';
    font-size: 14px;
    letter-spacing: normal !important;
    line-height: normal !important;
    text-align: justify;

    margin-top: 4rem;
}

/* Grid Area Naming */
.company__logo                  {grid-area: logo}
.company__title                 {grid-area: title}
.company__section--does         {grid-area: does}
.company__section--culture      {grid-area: culture}
.company__section--technologies {grid-area: technologies}

/* So big logo don't overflow */
.company__logo {
    width: 100%;
}

/* Remove stupid default margin */
.company h3,
.company h4,
.company h5 {
    margin: 0;
}


.company__section__technologies {
    /* It looks better, otherwise icons are too close to the title */
    margin-top: 1rem;

    /* Children Layout */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.company__section__technologies a {
    /* Gives a lot of visual improvement when item is wrapped */
    margin: 1rem;   
}

/* For technologies with LOGO */
.company__section__technologies img {
    max-height: 4.5rem;
    height: auto;

    transition: transform 50ms linear;
}

/* For unpopular technologies without LOGO, like KittenPHP */
.company__section__technologies span {
    display: inline-block;
    font-size: 3rem;
    color: black;

    transition: transform 50ms linear;
}

/* Hover effect for technology logo/text_name */
.company__section__technologies img:hover,  
.company__section__technologies span:hover {
    transform: scale(1.1);
}

/******************************/
/*** Citation and what-link ***/
/******************************/

/* Link Citation */
a.citation{
    text-decoration: none;
    
    font-weight: normal;
    color: rgb(83, 171, 226);
}

.what-link {
    text-decoration: none;
    
    font-weight: 500;
    color: rgb(35, 93, 129);
}

a.citation:hover, .what-link:hover {
    text-decoration: underline;
    color: rgb(108, 174, 213);
}


span.citation {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    color: rgb(56, 56, 56);
  }

  /* Citation tooltip when citation is not link(anchor) but span */ 
  span.citation .citation__text {
    visibility: hidden;
    width: 120%;
    position: absolute;
    z-index: 1;

    /* So tooltip is above the container */
    bottom: 120%;
    left: 50%;
    margin-left: -60%;

    /* Styling */
    background-color: rgba(0, 190, 238, 0.795);
    backdrop-filter: blur(16px);
    color: rgb(255, 255, 255);
    text-align: left;
    border-radius: 1px;
    font-weight: 500;
    padding: 1rem;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  span.citation:hover .citation__text {
    visibility: visible;
  }





/********************/
/*** COMPANY ROLES ***/
/********************/

/* Section for roles. All roles + Title + (optional) some text */
.company__section--roles {
    grid-area: roles;
}
/* Container for all roles */
.company__section__roles {
    display: flex;
    flex-wrap: wrap-reverse;
}

/* One role, with grid layout*/
.company-role {
    display: grid;
    grid-template-columns: 3rem auto;
    grid-template-rows: min-content auto;
    grid-template-areas: 
    "abbreviation title"
    ". description";
    gap: 1rem 1rem;

    padding: 2rem;
}

/* Role title. Like "Software Engineer" */
.company-role__title {
    grid-area: title;

    margin: 0;
    font-size: 1.2rem;
    text-align: left;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Role abbrebiation. Like "SWE" */
.company-role__abbreviation {
    grid-area: abbreviation;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    font-size: 1rem;
    font-weight: bold;
    font-family: monospace;

    color: rgb(187, 187, 187);

}

/* Role desciprtion */
.company-role__description {
    margin: 0;
    grid-area: description;
}

/* hover */
.company-role {
    transition: background-color 100ms linear;
}
.company-role:hover {
    background-color: rgb(255, 255, 255);
}

/* Responsive */
@media only screen and (max-width: 1200px) {
    .company-role {
        width: 100%;
        margin-bottom: 1px;
        box-shadow: 0 2rem 0 calc(-2rem + 1px) rgb(226, 226, 226);
    }
    .company-role:first-child {
        box-shadow: none;
    }
    
}
@media only screen and (min-width: 1200px) {
    .company-role {
        width: 50%;
    }
    .company-role:nth-child(odd) {
        margin-right: 1px;
        width: calc(49% - 1px);
        box-shadow: 2rem 0 0 calc(-2rem + 1px) rgb(226, 226, 226);
    }
    .company-role:last-child:nth-child(odd) {
        width: 100%;
        box-shadow: 0 2rem 0 calc(-2rem + 1px) rgb(226, 226, 226);
        margin: 0px auto 0px;
    }
    .company-role:first-child:last-child {
        box-shadow: none;
    }
}
