/*** Body, Html, All ***/
*       { box-sizing: border-box }
body    { margin: 0; padding: 0 }

:root {
    /* Styling fonts for whole page */
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
}

/* A little gray background for content */
body {
    background-color: rgb(250, 250, 250);
}

/* Content part (no leftbar) */
.page {
    padding: 2rem 15vw;

    /* For leftbar */
    margin-left: 15rem;

    /* For footer */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/*** Typography for main content ***/
.page > h1,
.page > h2,
.page > h3,
.page > p,
.page > ul > li {
    
    letter-spacing: 0.1rem;
    word-spacing: 0.25rem;
    margin: 0;

}

.page > h1 {
    margin-bottom: 3rem;
}

.page > h2 {
    border-top: 2px solid rgb(240, 240, 240);
    padding-top: 2rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
.page > h3 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.page > p {
    text-align: justify;
    margin-bottom: 0.5rem;
    line-height: 1.3rem;
}

/*** Rarer used typography, for images and links ***/
.page__image {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 16px 2px rgb(0,0,0,0.2)
}
.page .page__image-name {
    color: rgb(107, 107, 107);
    text-align: center;
    font-size: 0.75rem;
    margin: 0;
}
.page__link {
    text-decoration: none;
    color: rgb(68, 185, 221);
}
.page__link:hover {
    color: rgb(0, 80, 104);
    border-bottom: solid 1px rgb(0, 80, 104);
}

/*** Footer ***/
.footer {
    text-align: center;
    color: rgb(214, 214, 214);
    font-size: 0.85rem;

    margin-top: auto;
    padding-top: 2rem;
}

/***************/
/*** Leftbar ***/
/***************/

/* Static */
.leftbar {
    /* To display social links at the bottom */
    display: flex;
    flex-direction: column;

    /* Positioning and sizing */
    width: 15rem;
    height: 100vh;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;

    /* Styling */
    box-shadow: 0 0 1.8rem 0 rgba(0,0,0,0.1);
    background-color: white;
}

.nav-menu {
    /* Gap above nav-menu */
    margin-top: 3rem;
}

.nav-menu__link {
    display: inline-block;
    width: 100%;
    padding: 1rem 2rem;

    /* Styling */
    text-decoration: none;
    font-size: 1rem;
    color: black;

    transition: background-color 300ms cubic-bezier(0,1.15,1,.96);
}

.social-links {
    /* Positioning links withing the whole leftbar */
    margin: auto auto 3.5rem;

    /* To display links as a row with no spaces between */
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.social-links__link {
    /* Sizing */
    width: 3.5rem;
    height: 3rem;
    
    /* Styling */
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(90, 90, 90);
    
    /* To center icon in a clickable container */
    display: flex;
    align-items: center;
    justify-content: center;
}

/*** Hover ***/
/* Hover over menu link */
.nav-menu .nav-menu__link:hover {
    color: white;
    background-color: rgb(67, 111, 124);
    border-right: 5px solid rgb(216, 216, 216);
}
.nav-menu .nav-menu__link--separate-top:hover,
.nav-menu__link--separate-top ~ .nav-menu__link:hover {
    background-color: rgb(190, 63, 63);
}
/* Hover over social link */
.social-links__link i       { transition: transform 100ms linear }
.social-links__link:hover i { transform: translateY(-4px) }


/*** Modified ***/
/* Current page */
.nav-menu__link.nav-menu__link--active {
    border-right: 5px solid rgb(59, 156, 185);
}

.nav-menu__link--separate-top.nav-menu__link--active,
.nav-menu__link--separate-top ~ .nav-menu__link.nav-menu__link--active {
    border-right: 5px solid rgb(190, 63, 63);
}

/* Separate link from above links with a gap and a line */
.nav-menu__link--separate-top {
    margin-top: 1.2rem;
    border-top: 2px solid rgb(241, 241, 241);
}

/******************/
/*** RESPONSIVE ***/
/******************/
@media only screen and (max-width: 1100px) {
    .page {
        padding-left: 8vw;
        padding-right: 8vw;
    }
}
@media only screen and (max-width: 768px) {
    /* Move content behind the defaultly-hidden leftbar and decrease side padding, increase top padding */
    .page {
        padding: 5rem 5vw 2rem;
        margin-left: 0;
    }

    /* Move leftbar away */
    .leftbar {
        transform: translateX(-15rem);
        transition: transform 75ms linear;
    }

    /* Move leftbar back */
    .leftbar.leftbar--opened {
        transform: translateX(0);
    }
    
    /* Darken page when leftbar is opened */
    .leftbar.leftbar--opened + .leftbar-open {
        top:0;
        left:0;
        width: 100vw;
        height: 100vh;
        transition: background-color 100ms linear;
        
        background-color: rgba(0, 0, 0, 0.74);
    }

    /* Position and style button to open leftbar */
    .leftbar:not(.leftbar--opened) + .leftbar-open {
        /* Positioning */
        top: 0.5rem;
        left: 0.5rem;

        /* Sizing */
        padding: 1rem;
        font-size: 1.7rem;

        /* Styling */
        border-radius: 10%;
        color: rgb(20, 164, 207);
        transition: color 50ms linear;
        backdrop-filter: blur(50px) opacity(0.2);
        box-shadow: 0 0 16px -8px rgba(131, 131, 131, 0.74);
    }

    /* for button and darkening */
    .leftbar-open {
        /* for positioning */
        position: fixed;
        z-index: 1; 
    }
    /* ligthten buttton on hover */
    .leftbar-open:hover { color: rgb(128, 207, 221) } 
}